@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  --main-background-color: #000;
  --border-color: #3b3b3b;

}


body {
  background: var(--main-background-color);
  border-color: var(--border-color);
  color: white;
  user-select: none;
  overflow: hidden;
  width: 100vw;
  height: 100%;

}


@layer utilities {
  .flex-box {
    @apply flex justify-between gap-5 
  }
 

}